body {
  padding-top: 40px;
}
.home{
  height: 600px ;
  background: url("../images/happiness.png") no-repeat;
  background-size: cover;
}
.about {
  height: auto;
  background: url("../images/city_background.png") no-repeat;
  background-size: cover;
}
.portfolio {
  height: auto;
  background: url("../images/portfolio.png") no-repeat;
  background-size: cover; 
}

.connect {
  height: 400px;
  background: url("../images/portfolio.png") no-repeat;
  background-size: cover;  
}
.contact-nav {
  margin: 50px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
}
.header-content {
  padding-top: 150px;
}
.heading-tag {
  font-size: 5em;
  text-shadow: 2px 2px 5px white;
}
.sub-heading-tag {
  color: black;
  text-shadow: 1px 1px 1px;
}
